.App {
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.valid{
  color: #00df52;
}
.error{
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .header {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 65px;
  width: max-content;
  margin-inline: auto;
}
.days {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px 75px 75px 75px;
  width: max-content;
  margin-inline: auto;
} */
.days{
  display: grid;
    align-items: center;
    color: #0b2d5a;
    
    /* play with this to change height of the children, 50% will fill half */
    grid-template-columns: repeat(8, 120px); /* do not set template columns and rows */
    grid-template-rows: 1fr; /* do not set template columns and rows */
    grid-auto-flow: column;
}
.week{
  display: grid;
  margin-bottom: 5px;
}
.day{
  height: 120px;
  cursor: pointer;
  /* display: grid; */
}
.weeks{
  position: sticky;
  top: 0px;
  background-color: azure;
  z-index: 1;
  padding: 10px;
}
.mCalendar{
  /* padding: 10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow-y: scroll;
  height: 90vh;
  position: relative;
  background-color: azure;
}
.box{
  border-right: 2px solid grey;
  /* border-bottom: 2px solid grey; */
  height: 120px;
  cursor: pointer;
  overflow-y: scroll;
}
.boxb{
  /* border-bottom: 2px solid grey; */
  height: 120px;
  cursor: pointer;
  overflow-y: scroll;
}
.calendar{
  width: 100%;
}

.App{
  width: 100%;
  margin-top: auto;
}
.box::-webkit-scrollbar{
  display: none;
}
.box {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.boxb::-webkit-scrollbar{
  display: none;
}
.selected::-webkit-scrollbar{
  display: none;
}
.day > span{
  color: "#3e8e41";
  /* display: grid; */
}
.selected{
  border: 2px solid #1877f2;
  height: 120px;
  cursor: pointer;
  overflow-y: scroll;
}
.inputArea{
  /* position: absolute; */
  margin-inline: 20px;
  padding-top: 110px;
  width: 31em;
}
.inputArea input{
  width: 70%;
  height: 1.5em;
  margin-block: 15px;
  outline: none;
}
.inputArea input[type='text' i]{
  padding: 2px 3px;
}
.inputArea button{
  width: 70%;
  height: 2.5em;
}
.dropbtn {
  background-color: #fff;
  color: #00367d;
  
  padding: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.mainCalendar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.hr{
  margin: 0px;
}
.dropdown {
  position: relative;
  display: flex;
  padding-top: 6px;
}
.centerDiv{
  width: 100%;
  display: flex;
  
}
.dropdown-content {
  margin-top: 30px;
  display: none;
  position: absolute;
  min-width: 150px;
  background-color: #00367d;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  border-radius: 10px;
  z-index: 2;
}
.listitem{
  display: block;
  border: none;
  margin-block: 10px ;
  cursor: pointer;
  background-color: #00367d;
  color: #fff;
  font-size: .8em;
  
}
.timeline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown:hover .dropbtn:hover {
  /* background-color: #3e009a; */
  color: #00367d;
}
.timeline{
  display: flex;
}
.prev{
  border: none;
  margin-inline: 10px;
  margin-top: 5px;
}
.prev.click{
  outline: none;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .mainCalendar{
    width: 100%;
    padding: 0;
  }
  .inputArea input{
    width: 80%;
    height: 1.5em;
    margin-block: 15px;
    outline: none;
  }
  .inputArea button{
    width: 80%;
    height: 2.5em;
  }
  .centerDiv{
    width: 100%;
  }
  
  .mCalendar{
    width: 98%;
    margin-inline: auto;
    box-shadow: none;
    margin-top: 20px;
    padding: 0px;
    padding-bottom: 10px;
    padding-inline: 4px;
    
  }
  .hr{
    margin: 0px;
  }
  .mainCalendar{
    flex-direction: column;
  }
  .inputArea{
    /* position: absolute; */
    margin-inline: 0px;
    padding-block: 10px;
    width: 90%;
    margin-inline: auto;
  }
  .days{
    display: grid;
      align-items: center;
      color: #0b2d5a;
      
      /* play with this to change height of the children, 50% will fill half */
      grid-template-columns: repeat(8, 12.5%); /* do not set template columns and rows */
      grid-template-rows: 1fr; /*do not set template columns and rows*/
      grid-auto-flow: column;
  }
  .day{
    height: 4.5em;
    cursor: pointer;
    /* display: grid; */
  }
  .box{
    height: 4em;
  }
  .selected{
    border: 2px solid #1877f2;
    height: 4em;
    max-height: 100%; 
    cursor: pointer;
    overflow-y: scroll;
  }
  .boxb{
    /* border-bottom: 2px solid grey; */
    height: 4em;
    cursor: pointer;
    overflow-y: scroll;
  }
}
.logout{
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #0b2d5a;
  font-size: 1.2em;
}
@media only screen and (max-width: 900px){
  .inputArea input{
    width: 60%;
    height: 1.5em;
    margin-block: 15px;
    outline: none;
  }
  .box::-webkit-scrollbar{
    display: none;
  }
  .box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .inputArea button{
    width: 60%;
    height: 2.5em;
  }
  .inputArea{
    /* position: absolute; */
    margin-inline: 0px;
    padding-block: 10px;
    width: 80%;
    margin-inline: auto;
  }
}
@media only screen and (max-width: 600px){
  .App{
    margin-bottom: auto;
  }
  .box::-webkit-scrollbar{
    display: none;
  }
  .weeks{
    margin-bottom: 20px;
  }
  .mCalendar{
    height: auto;
    padding-bottom: 0;
    padding-inline: 0;
  }
  .mCalendar::-webkit-scrollbar{
    display: none;
  }
  .mCalendar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .inputArea input{
    width: 80%;
    height: 1.5em;
    margin-block: 15px;
    outline: none;
  }
  .inputArea button{
    width: 80%;
    height: 2.5em;
  }
  .days{
    display: grid;
      align-items: center;
      color: #0b2d5a;
      
      /* play with this to change height of the children, 50% will fill half */
      grid-template-columns: repeat(8, 12.5vw); /* do not set template columns and rows */
      grid-template-rows: 1fr; /*do not set template columns and rows*/
      grid-auto-flow: column;
      height:12.5vw;
  }
  .day,.box,.selected,.boxb{
    width: 12.5vw;
    height: 12.5vw;
    text-align: start;
    padding: 4px;
  }
}
